include ../bullet-proof-button.jade

!!!
html
  body
    +button(  bgcolor = '#536895', color = '#ffffff', border = '1px solid #1e3650'
            , border-radius = '4px', height = '40px', width = '200px'
            , href = 'http://buttons.cm/')
      | Connect with us