mixin button
  - r = {}
  - c = {}
  - s = {}
  - s['background-color'] = attributes.bgcolor
  - s['background-image'] = (attributes.background) ? 'url(' + attributes.background + ')' : undefined
  - s['border'] = attributes.border
  - s['border-radius'] = attributes['border-radius']
  - s['color'] = c['color'] = attributes.color
  - s['display'] = 'inline-block'
  - s['font-family'] = attributes['font-family'] || 'sans-serif'
  - c['font-family'] = s['font-family']
  - s['font-size'] = attributes['font-size']
  - c['font-size'] = s['font-size']
  - s['font-weight'] = attributes['font-weight'] || 'bold'
  - c['font-weight'] = s['font-weight']
  - s['line-height'] = r['height'] = attributes.height
  - s['text-align'] = attributes.align || 'center'
  - r['v-text-anchor'] = attributes.align || 'middle'
  - s['text-decoration'] = 'none'
  - s['width'] = r['width'] = attributes.width
  - s['-webkit-text-size-adjust'] = 'none'
  // - s['mso-hide'] = 'all'
  - strokecolor = attributes.border ? (attributes.border).split(' ')[2] : undefined
  - compact = Object.keys(s).filter(function(k) { return s[k] !== undefined })
  - rInline = Object.keys(r).map(function(k) { return k + ':' + r[k] + ';' }).join('')
  - cInline = Object.keys(c).map(function(k) { return k + ':' + c[k] + ';' }).join('')
  - hrefInline = compact.map(function(k) { return k + ':' + s[k] + ';' }).join('')
  - fill = (attributes.background !== undefined ) ? 't' : undefined
  - fillcolor = (attributes.background == undefined ) ? attributes.bgcolor : undefined
  div
    <!--[if mso]>
    - attrs = {}
    if attributes['border-radius']
      - elementName = 'v:roundrect'
      - attrs['xmlns:v'] = "urn:schemas-microsoft-com:vml"
      - attrs['xmlns:w'] = "urn:schemas-microsoft-com:office:word"
      - attrs['href'] = attributes.href
      - attrs['style'] = rInline
      - attrs['arcsize'] = "10%"
      - attrs['stroke'] = strokecolor === undefined ? 'f' : undefined
      - attrs['strokecolor'] = strokecolor
      - attrs['fillcolor'] = fillcolor
      - attrs['fill'] = fill
      - attrs['class'] = attributes.class
    else
      - elementName = 'v:rect'
      - attrs['xmlns:v'] = "urn:schemas-microsoft-com:vml" 
      - attrs['xmlns:w'] = "urn:schemas-microsoft-com:office:word";
      - attrs['href'] = attributes.href;
      - attrs['style'] = rInline;
      - attrs['stroke'] = strokecolor === undefined ? 'f' : undefined;
      - attrs['strokecolor'] = strokecolor;
      - attrs['fillcolor'] = fillcolor;
      - attrs['fill'] = fill;
      - attrs['class'] = attributes.class;
    - result = Object.keys(attrs).reduce(function(p, k) { if (attrs[k]) p.push(k + '="' + attrs[k] + '"'); return p; }, []).join(' ')
    <!{elementName} !{result}>
    if attributes.background
      v:fill(type="tile", src= attributes.background, color= attributes.color)/
    <w:anchorlock/>
    <center>
    | <![endif]-->
    a(href = attributes.href, style = hrefInline, class = attributes.class)
      block
    | <!--[if mso]>
    | </center>
    | </!{elementName}>
    | <![endif]-->